*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/src/androidTest/java/com/example/android/ticketsmanager/ExampleInstrumentedTest\.java

app/src/test/java/com/example/android/ticketsmanager/ExampleUnitTest\.java
